body{
    background-color: black;
}
h3{
    margin-top: 100px;
    text-align: center;
    color: aqua;
    font-size: 4rem;
}
#clock{
    margin-top: -50px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    color: aqua;
}